<%- include('../partials/header') %>
<div class="starter-template">
  <h1>Tabuada do número <%= num %></h1>
  <table class="table table-striped table-bordered table-hover table-responsive">
    <% for (let i = 0; i <= 100; i++) {%>
      <tr>
        <td><%= num %></td>
        <td>&nbsp; x &nbsp;</td>
        <td><%= i %></td>
        <td>&nbsp; = &nbsp;</td>
        <td><%= num * i  %></td>
      </tr>
    <% } %>
  </table>
</div>
<%- include('../partials/footer') %>